/*-------------------------------------------------------------------------------------------------------------------------------------*/

/* ALL Styling for entire body */
body {
    background-image: url(../images/chinese-silk-road-small.jpg);
    background-color: #cccccc;
    width: 100%;
    height: 100%;
}

body h1, h2 {
    font-size: 35px;
}

body p {
    font-family: 'Chakra Petch', "sans-serif";
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/

/* ALL Styling for Laws of Game section */
hr {
    background-color: black;
    height: 5px;
}

#CrystalCollector {
}

.rainbow {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#silkroadEd {
    font-family: 'Charmonman', "cursive";
}

#silkroadcn {
}

#laws_header {
    text-align: center;
    font-family: 'Paytone One', "sans-serif";
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/

/* ALL Styling for Game function section */
#matchnumber {
    background-color: turquoise;
}

#totalpoints {
    background-color: whitesmoke;
}

#WinsLosses {
    background-color: violet;
}

/* Styling for images into horizontal line */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
}
  
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
}
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
}

img {
    width: 150px;
    height: 150px;
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/